@import "components/code-preview.scss";

/***************************************
 * Customize the article header layout *
 ***************************************/

.small-overlay {
    .hero__content {
        margin: 0;
        border-top: 1px solid #ffffff88;
        border-bottom: 1px solid #ffffff88;
        // background: linear-gradient(to bottom, transparent 79.99%, #00000000 80%, #88888833 90%, #ffffff88 98%);
        backdrop-filter: blur(var(--background-blur));
    }

    .article__header_container {
        margin: 3rem 0;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .article__info_container {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;

        .article__info {
            color: #333;
            color: #666;

            .right-col li {
                font-weight: 400;
                line-height: 1 !important;
                background-color: #f2f2f2;
                padding: 0.325rem 0.5rem;
                padding: 0.325rem 0.6rem;
                border-radius: 6rem;
                cursor: default;

                &:hover {
                    color: #333;
                }

                i.fas, i.far {
                    min-width: 1em;
                }
            }
        }
    }
}

.hero--dark h1 {
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.article__header--with-background {
    background-image: var(--background-image);
    background-color: var(--background-color);
    background-position: var(--background-position);
}

.article-author {
    font-weight: bolder;
}

.article-author .fa-user-circle {
    position: relative;
    top: calc(1rem / 16);
    min-width: 1rem !important;

    &::before {
        font-size: 1rem;
        line-height: 0;
    }
}

.article__content {
    .subtitle {
        font-size: 2em;
    }
}

/********************
 * Customize <code> *
 ********************/

code {
    font-size: 0.9em;
    line-height: 1.4;
}

%html-heading code {
    background: none !important;
    font-size: 1em;
    line-height: inherit;
    color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %html-heading;
}

/*****************************
 * Customize and fix the TOC *
 *****************************/

/* Fix text-overflow: ellipsis */
ul.toc {

    .toc-h2 a,
    .toc-h3 a,
    .toc-h4 a,
    .toc-h5 a,
    .toc-h6 a {
        text-overflow: inherit;
        width: 100%;
        display: inline-block;
        overflow: hidden;
    }
}

/*************************
 * Customize search form *
 *************************/

.search-external {
    font-size: 0.8rem;
    margin-top: -0.95rem;
    margin-bottom: 1em;
    margin-left: 1.8rem;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.search-external.visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/***********************
 * 404 Page Easter Egg *
 ***********************/
.layout--404 .sign h1:hover {
    cursor: default;

    &:hover {
        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-2 23:24:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
@keyframes shake-top {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}

/* End of CSS code generated by Animista */

.animate-as-activated {
    background: linear-gradient(53deg, #000000, #000000, #ff1900, #000000, #000000);
    background-size: 600% 600%;

    animation: background-scroll 2s ease 1;
    animation: background-scroll 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background-scroll {
    0% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    20% {
        transform: translateX(-4px);
    }

    15%,
    25% {
        transform: translateX(4px);
    }

    30%,
    40%,
    50%,
    60% {
        transform: translateX(-8px);
    }

    35%,
    45%,
    55% {
        transform: translateX(8px);
    }

    70%,
    80% {
        transform: translateX(-5px);
    }

    65%,
    75% {
        transform: translateX(5px);
    }


    85%,
    95% {
        transform: translateX(1px);
    }

    90% {
        transform: translateX(-1px);
    }
}
