.main {
    width: 100%;
    max-width: map-get($layout, content-max-width);
    padding-left: map-get($spacers, 5);
    padding-right: map-get($spacers, 5);
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-down(lg) {
      padding-left: map-get($spacers, 4);
      padding-right: map-get($spacers, 4);
    }
    @include media-breakpoint-down(md) {
      padding-right: map-get($spacers, 3);
      padding-right: map-get($spacers, 3);
    }
  }
  
  .has-aside {
    .main {
      --aside-reserved-padding: #{map-get($layout, aside-width)};
      max-width: map-get($layout, content-max-width) + map-get($layout, aside-width);
      @include media-breakpoint-down(lg) {
        --aside-reserved-padding: 0px;
        max-width: map-get($layout, content-max-width);
      }
      &.aside-padding {
        padding-right: calc(3rem + var(--aside-reserved-padding));
      }
    }
  }
  
  .full-width {
    .main {
      width: 100%;
      max-width: 100%;
    }
  }
  